[submodule "third/linterop"]
	path = third/linterop
	url = https://github.com/eminom/linterop
[submodule "third/lua5p1var"]
	path = third/lua5p1var
	url = https://eminom@github.com/eminom/lua5p1var.git
